<!DOCTYPE html>
<html>
	<head> 
        <!--Calls head.ejs to write a script that changes the title and imports all the basic js,css, and logos for the page-->
        <%-include("ejsSub/head.ejs", {name:"Login"})%> 

        <!--Script for SignUp Page-->
        <script src="signUpScript.js"></script>

        <!--Fontawesom icons-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
        
        <script>
            var userJsonDump = '<%-JSON.stringify(userProfiles)%>';
            var userArray = JSON.parse(userJsonDump);
        </script>
        
        <style>
            #SignUpForm
            {
                position: relative;
                top:50px;
                border: 1px solid #1f2a5a;
                background-color: #F3F3F3 ;
                border-radius: 10px;
                padding-top: 2%;
                padding-bottom: 2%;
                height:90%;
                z-index: 1;
            }
            form
            {
                margin-top: 30px;
            }
            input
            {
                border-radius: 10px;
                border: 2px solid #1f2a5a;
                width: 300px;
                height:40px;
                color:#1f2a5a;
            }
            #emailId
            {
                margin-bottom: 20px;
            }
            #pass
            {
                margin-left: 20px;
            }
            #message
            {
                color:red;
            }
            #passRequirements
            {
                text-align: left;
                border-radius: 10px;
                border: 1px solid #1f2a5a;
                background-color:#F3F3F3;
                width: 300px;
                visibility: hidden;
                height:0px;
            }
        </style>

        <!--Calls whenWindowResizes.ejs to write a script that reads when the window is resized-->
        <%-include("ejsSub/whenWindowResizes.ejs")%> 
	</head>
	
	<body>
        <!--Calls header.ejs to write html to display the header and the navigation bar-->  
        <header class = "container-fluid">
            <%-include("ejsSub/header.ejs")%>
        </header>		
        <br/>

        <!--main container for content-->
        <div class = "text-center mt-5" >
            <h1>Sign In</h1>
            <!--Displays error message if user puts in an invalid input-->
            <p id= "message"></p>
            <form method = "post" action = "/validateLogin" class = "container-fluid" id= "form">
                <!-- textbox for user to type their name, max length is 1000 and user has to to type something in before submitting
                        uses: signUpScript.js.validate() function line 66
                        uses: signUpScript.js.showPass() function line 109-->

                <!--- textbox for user to type their email, user has to to type something in before submitting and have an @ sign--->
                <input type ="email" name = "Email" id = "emailId" required = "required" placeholder = "Email"></input>
                <br/>
                <!--- user puts their password--->
                <div class = "input-icons" id = pass>
                    <input type ="password" name = "Password" id = "pwordId" class="input-field" placeholder = "Password"></input>
                    <i class="fa fa-eye-slash icon" id="passIcon" onclick = "showPass('pwordId');"></i>
                </div>
                <br/>
                <a href = "/SignUp" class = "text-secondary" id= "loginLink">Create an Account.</a>
                <br/>
                <!--- Button used to submit data --->
                <button type ="button" class= "btn btn-dark white-text mt-5" name="login" id = submitButton onclick = "validateLogin('emailId','pwordId',userArray);">Sign In</button>
            </form>
        </div>

        <!--Footer-->
        <footer class = "container">
            <%-include("ejsSub/footer.ejs")%>
        </footer>
	</body>
</html>