<!DOCTYPE html>
<html>
	<head> 
        <!--Calls head.ejs to write a script that changes the title and imports all the basic js,css, and logos for the page-->
        <%-include("ejsSub/head.ejs", {name:"Login"})%> 

        <!--Script for SignUp Page-->
        <script src="signUpScript.js"></script>

        <!--Fontawesom icons-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
        
        <!--Login.css to style the page-->
        <link rel="stylesheet" href="login.css"></link>
        
        <script>
            var userJsonDump = '<%-JSON.stringify(userProfiles)%>';
            var userArray = JSON.parse(userJsonDump);
        </script>

        <!--Calls whenWindowResizes.ejs to write a script that reads when the window is resized-->
        <%-include("ejsSub/whenWindowResizes.ejs")%> 
	</head>
	
	<body>
        <!--Calls header.ejs to write html to display the header and the navigation bar-->  
        <header class = "container-fluid">
            <%-include("ejsSub/header.ejs")%>
        </header>		
        <br/>

        <!--main container for content-->
        <div class = "text-center mt-5" >
            <h1 id = "pageTitle">Sign In</h1>
            
            <!--Displays error message if user puts in an invalid input-->
            <p id= "message"></p>
        
            <form method = "post" action = "/validateLogin" class = "container-fluid" id= "form">
                <!--- textbox for user to type their email, user has to to type something in before submitting and have an @ sign--->
                <input type ="email" name = "Email" id = "emailId" required = "required" placeholder = "Email"></input>
                <br/>
                <!--- user puts their password--->
                <div class = "input-icons" id = pass>
                    <input type ="password" name = "Password" id = "pwordId" class="input-field" placeholder = "Password"></input>
                    <i class="fa fa-eye-slash icon" id="passIcon" onclick = "showPass('pwordId');"></i>
                </div>
                <br/>
                <a href = "/SignUp" class = "text-secondary" id= "loginLink">Create an Account.</a>
                <br/>
                <!--- Button used to submit data --->
                <button type ="button" class= "btn btn-dark white-text mt-5" name="login" id = submitButton onclick = "validateLogin('emailId','pwordId',userArray);">Sign In</button>
            </form>
        </div>

        <!--Footer-->
        <footer class = "container">
            <%-include("ejsSub/footer.ejs")%>
        </footer>
	</body>
</html>