<!DOCTYPE html>
<html>
	<head> 
        <!--Calls head.ejs to write a script that changes the title and imports all the basic js,css, and logos for the page-->
        <%-include("ejsSub/head.ejs", {name:"Sign Up"})%> 
        
        <!--Script for SignUp Page-->
        <script src="signUpScript.js"></script>

        <!--Fontawesom icons-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>

        <link rel="stylesheet" type = "text/css" href="signUpPage.css"></link>
        
        <!--Dumps user data into a string and converts it into a JSON file to be used in javascript-->
        <script>
            var userJsonDump = '<%-JSON.stringify(userProfiles)%>';
            var userArray = JSON.parse(userJsonDump);
        </script>

        <!--Calls whenWindowResizes.ejs to write a script that reads when the window is resized-->
        <%-include("ejsSub/whenWindowResizes.ejs")%> 
	</head>
	
	<body>
        <!--Calls header.ejs to write html to display the header and the navigation bar-->  
        <header class = "container-fluid">
            <%-include("ejsSub/header.ejs")%>
        </header>		
        <br/>

        <!--main container for content-->
        <div class = "text-center mt-5" >
            <h1 id = "pageTitle">Create Account</h1>
            <!--Displays error message if user puts in an invalid input-->
            <p id= "message"></p>
            <form method = "post" action = "/SignUpDone" class = "container-fluid" id= "form">
                <!--- textbox for user to type their first name--->
                <input type ="text" maxLength = "1000" name = "FirstName"  id = "fNameId" placeholder = "First name" onchange = "checkTextBox(this.id);"></input>
                <br/>
                <!--- textbox for user to type their last name--->
                <input type ="text"  maxLength = "1000" name = "LastName" id = "lNameId" placeholder = "Last name" onchange = "checkTextBox(this.id);"></input>	
                <br/>
                <!--- textbox for user to type their email--->
                <input type ="email" name = "Email" id = "emailId" required = "required" placeholder = "Email" onchange = "checkEmailUniquness(this.id, userArray);"></input>
                <br/>
                <!--- user can create a password that 6-16 charcters and needs at least one number and one special character--->
                <div class = "input-icons" id = pass>
                    <input type ="password" name = "Password" id = "pwordId" class = "input-field" placeholder = "Password" pattern = "^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$"
                     onchange = "validate();" onfocus = "showPassReqirements(true);" onfocusout = "showPassReqirements(false);"></input>
                    <i class = "fa fa-eye-slash icon" id ="passIcon" onclick = "showPass('pwordId');"></i>
                </div>
                 <div class = "container" id = "passRequirements">
                    <ul>
                        <li>Must be 6-16 characters long</li>
                        <li>At least one number</li> 
                        <li>At least one special character ie: $%^</li>
                    </ul>
                </div>
                <br/>
                <!--- textbox for business phone--->
                <input type ="tel" name = "Phone" id = "phoneId" placeholder = "Phone example:403-222-3333" onchange = "checkPhone(this.id)"></input>
                <br/>
                <!--- textbox for user home phone--->
                <input type ="tel" name = "HomePhone" id = "homePhoneId" placeholder = "Home Phone example:403-222-3333" onchange = "checkPhone(this.id)"></input>
                <br/>
                <!--textbox for street name-->
                <input type ="text" name = "StreetName"  id = "sName" placeholder = "Street name" maxLength = "1000" onchange = "validate();"></input>
                <br/>
                <!--- search and dropdown for user's country--->
                <div id= "dropDown">
                    <button type = button id = "selectedCountry" onclick = "showCountries()">Select a Country</button>
                    <br/>
                    <div id = countryDropDown class ="dropDownContent">
                        <input type = "text" name = "CountryName" id = "countryId" placeholder = "Search..." onkeyup = "filter(this.id);"><br/>
                        <% for (i = 0; i<countries.length; i++){ %>
                            <a style = "display:block; cursor:pointer" id = "country + <%=i%>" onclick = "setFromDropDownField(this)"><%=countries[i].name%></a>
                        <% i++; } %> 
                    </div>
                </div>
                <br/>
                <!--- Label for user's province--->
				<input type="text" name = "ProvinceName" id= "provinceId" placeholder = "Province" onchange = "validate();">
                <br/>
                <!--textbox for city-->
                <input type ="text" name = "CityName"  id = "cNameId" placeholder = "City" maxLength = "1000" onchange = "validate();"></input>
                <br/>
                <!-- textbox for postal code-->
				<input type = "text" name = "Postal" id = postalId placeholder = "Postal Code" onchange = "checkPostal('postalId');" >
				<br/>
                <!-- login page link-->
                <a href = "/Login" id = "loginLink" class = "text-secondary">Login if you have an existing account.</a>
                <br/>
                <!--- Button used to submit data --->
                <button type = "submit" name = "Submit" id = submitButton class = "btn btn-dark white-text mt-5" disabled = "disabled" onclick = "validate();">Sign Up</button>

                <!--- Button used to reset the fields -->
                <button type = "reset" id = "resetButton" class = "btn btn-dark white-text mt-5" onclick = "return confirm('Do you want to reset?');">Reset</button>
            </form>
        </div>

        <!--Footer-->
        <footer class = "container">
            <%-include("ejsSub/footer.ejs")%>
        </footer>
	</body>
</html>